/* Custom Style */

.headline-background {
	background-image: url('/images/header-skyline.jpg');
	background-position-y: 35%;
	background-size: cover;
	min-height: 350px;
}

.bp-img {
	width: 140px;
	height: 140px;
	margin-top: 7%;
}

.bp-title {
	margin-top: 10px;
}

.green {
	background-color: #7CB2A3;
}