extends layout

block content
    include ./includes/nav.jade
    .headline-background.brock
        .overlay
            .jumbotron
                .container
                    .thin-margins.square-lg.pull-right
                        img(src="images/portrait-350x350.jpg").img-circle.square-lg.shadow
                    h2.header About <span class="text-muted">me</span>
                    p.lead.
                        I'm a Technical Evangelist with Microsoft, based out of Los Angeles.
                        Recently I completed my BSc. Computer Science & Economics, Concentration 
                        in Software Engineering at Brock University, located near the beautiful 
                        Niagara Falls in southern Ontario, Canada.
                    p.lead.
                        My interests focus predominantly on web and mobile development, as well
                        as artificial intelligence and machine learning. Currently I like to experiment with 
                        small IoT projects as well. Outside of technology my passions are widespread, also being an avid musician.