extends layout

// A neat idea is to make it so the content is fixed and the backgrounds scroll instead.
// The stark border between two images will override the content, revealing new content also 
// fixed in place

block content
   .headline-background.skyline
     .overlay
        .info-container
            span#james.invisible
            img(src="images/je-logo-transparent.png").middle
        .info-container
            .info
                h1#test 
                    a(href="#james")#test James Earle
                ul.options
                    li
                        a(href="#") About
                    li
                        a(href="#") Work
                    li
                        a(href="#") Projects
                    li
                        a(href="#") Extras
                    li
                        a(href="#") Contact
                    li
                        a(href="#") Resume
                    li
                        a(href="#") Photos
                    li
                        a(href="#") Blog
   script.
     /*$("a").click(function() {
        console.log("hello");
        $(".info-container").animate({
            opacity : 0.5
        }, 1000);
     });*/
   .container-full
      .container
        .thin-margins.square-md.pull-right
            img(src="images/portrait-350x350.jpg").img-circle.square-lg.shadow
        h1.header About <span class="text-muted">me &raquo;</span>
        p.lead.
            I'm a Technical Evangelist with Microsoft, based out of Los Angeles, 
            California. A recent grad at Brock University, St. Catharines ON, Canada,
            with a BSc. Computer Science & Economics, concentration in Software Engineering.
        p.lead.
            My interests focus predominantly on web and mobile development, as well
            as artificial intelligence and machine learning. I like to toy with IoT 
            applications as well, but regularly find myself coming back to Node.js.
            Outside of technology my passions are widespread, also being an avid musician and 
            coffee enthusiast.
   .headline-background-lg.brock
     .overlay-half-down
        .top-padding
            span#about
            .container-full
                .container
                    .thin-margins.square-md.pull-right
                        img(src="images/portrait-350x350.jpg").img-circle.square-lg.shadow
                    h1.header About <span class="text-muted">me &raquo;</span>
                    p.lead.
                        Here are a few words about my previous employment history. Specifically, I'd want
                        to highlight my time at Bluewire Computer Services, Cross Border Housing, as well
                        as my Teaching Assistant work while at Brock University.
                    p.lead.
                        Of course we will also mention my time as an MSP, because of how helpful that 
                        was in leading into my first "real" job, launching my career forward. We can 
                        also include a few photos at Brock doing MSP things, or Brock CSC things.
     .overlay-half-up
   .headline-background-lg.microsoft
     .overlay-half-down
         .top-padding-extra
                span#about
                .container-full
                    .container
                        .thin-margins.square-md.pull-right
                            img(src="images/portrait-350x350.jpg").img-circle.square-lg.shadow
                        h1.header About <span class="text-muted">me &raquo;</span>
                        p.lead.
                            H2222222222222222222222222222222222222222222222222222222222
                            22222222222222222222222222222222222222222222222222222222222
                        p.lead.
                            2222222222222222222222222222222222222222222222222222222222222222222
                            222222222222222222222222222222222222222222222222222222222222222222
         .overlay-half-up
     