extends layout

block content
  .headline-background
     .center
        .info-container
            img(src="images/je-logo-transparent.png").middle
        .info-container
            .info
                h1 
                    a(href="/") James Earle
                ul.options
                    li
                        a(href="/about") About
                    li
                        a(href="/work") Work
                    li
                        a(href="/projects") Projects
                    li
                        a(href="/extras") Extras
                    li
                        a(href="/contact") Contact
                    li
                        a(href="/resume") Resume
                    li
                        a(href="/photos") Photos
                    li
                        a(href="/blog") Blog
     .black
     .continue
       h1 About