extends layout

// A neat idea is to make it so the content is fixed and the backgrounds scroll instead.
// The stark border between two images will override the content, revealing new content also 
// fixed in place

block content
   .headline-background.skyline
     .overlay
        .info-container
            span#james.invisible
            img(src="images/je-logo-transparent.png").middle
        .info-container
            .info
                h1#test 
                    a(href="/") James Earle
                ul.options
                    li
                        a(href="/about") About
                    li
                        a(href="/projects") Projects
                    li
                        a(href="/contact") Contact
                    li
                        a(href="/photos") Photos
                    li
                        a(href="/blog") Blog
   //.container-full
      .container
        .thin-margins.square-md.pull-right
            img(src="images/portrait-350x350.jpg").img-circle.square-lg.shadow
        h1.header About <span class="text-muted">me &raquo;</span>
        p.lead.
            I'm a Technical Evangelist with Microsoft, based out of Los Angeles, 
            California. A recent grad at Brock University, St. Catharines ON, Canada,
            with a BSc. Computer Science & Economics, concentration in Software Engineering.
        p.lead.
            My interests focus predominantly on web and mobile development, as well
            as artificial intelligence and machine learning. I like to toy with IoT 
            applications as well, but regularly find myself coming back to Node.js.
            Outside of technology my passions are widespread, also being an avid musician and 
            coffee enthusiast.
     