extends layout

block content
   script(src='/javascripts/init-freewall.js')
   #freewall-container
     .item Words
     .item More Words
     .item Words
     .item More Words item Words
     .item More Words
     .item Words
     .item More Words even more though
     .item this time an image?!

//http://vnjs.net/www/project/freewall/