extends layout

block content
    include ./includes/nav.jade
    .headline-background.venice
        .overlay
            .jumbotron
                .container
                    mixin project(img, alt)
                        .col-md-3
                            img(src='images/projects/'+img, alt=alt).square-sm.container.no-padding
                            //p.img-description.square-sm.container This is a description
                            //add small text for descriptions in mobile friendly way
                    .row.center
                        +project("cbh-logo-350x350.jpg", "Cross Border Housing")
                        +project("csbreakdown-350x350.jpg", "CS Breakdown")
                        +project("symbolic-regression.png", "Genetic Programming Portfolio")
                        +project("relic-350x350.jpg", "Relic")
                    .row.center
                        +project("freeform-500x500.jpg", "Formulize")
                        +project("chess-500x500.jpg", "Chess")
                        +project("ms-logo.png", "Microsoft")
