extends layout

block content
  .jumbotron
    h1 Resume
    p.lead.
        Hey! Most of my recent work is on this site, but if you're at all
        interested in a formal resume feel free to view it <a href="">here</a>